body {
  background-color: #5C5470;
  /* background-image: url("https://images.pexels.com/photos/6634140/pexels-photo-6634140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-image: url("https://i.pinimg.com/564x/74/e8/72/74e872860f980040cb4e49778be1e5db.jpg");
  background-repeat: repeat-x;
  background-position: 100%;
  object-fit: cover;
  color: #0c0a07;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 16px;
}

h1,
h2 {
  color: rgb(92, 84, 112);
  font-weight: 500;
  font-size: 24px;

}

p {
  color: #352F44;
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.card {
  background-color: rgba(219, 216, 227, 0.7);
  width: 500px;
  height: 0 auto;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 80px 30px 80px;
  box-shadow: 5px 5px 20px rgba(67, 40, 54, .3);
  /* box-shadow: 10px 10px 5px 12px lightblue */
  /* box-shadow: 5px 5px 5px 5px rgba(111, 86, 187, 1) */
  text-align: center;
}

#profile-pic {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 3px solid #3a314f;
  object-fit: cover;
  transition: 2s;
}

/* #profile-pic:hover { */
  /* filter: blur(5px); */
/* } */

.link {
  text-decoration: none;
  font-style: italic;
}

.my-link {
  text-decoration: none;
}

.button {
  background-color: #5C5470;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.1s;
}

.button:hover {
  background-color: #352F44;
}

.list-inline {
  list-style: none;
  padding: 0px 20px;
  display: inline-block;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.img-container {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.img {
  position: absolute;
}

.hover_img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.img:hover .hover_img {
  display: inline;
}
